<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>
    <h1>Добро пожаловать в админку вашего прекрасного сайта, Сэр!</h1>
    <hr>
    <a href="/">Желаете перейти на ваш великолепный сайт, Сэр?</a>
    <form th:action="@{/product/create}" method="post" enctype="multipart/form-data">
        <label for="name" >Название товара</label>
        <input type="text" name="name" id="name" required><br><br>

        <label for="file" >Картинка</label>
        <input type="file" name="file" id="file" required><br><br>

        <label for="desc" >Описание товара</label>
        <input type="text" name="description" id="desc" required><br><br>

        <label for="price" >Цена товара</label>
        <input type="number" name="price" id="price" required><br><br>

        <label for="category">Категория</label>
        <select name="category" id="category">
            <option value="Напитки">Напитки</option>
            <option value="Завтраки">Завтраки</option>
            <option value="Супы">Супы</option>
            <option value="Горячие блюда" selected>Горячие блюда</option>
            <option value="Салаты">Салаты</option>
            <option value="Десерты">Десерты</option>
        </select><br><br>

        <input type="submit" value="Добавление товара">
    </form>

    <h2>Посмотрите на наши прекрасные блюда</h2>
    <div>
        <div th:if="${products.empty}">
            <p>Блюд нет</p>
        </div>
        <div th:each="el: ${products}" >
            <div>
                <form th:action="@{/product/edit/{id}(id=${el.getId()})}" method="post" enctype="multipart/form-data">
                    <label for="name1" >Название товара</label>
                    <input type="text" name="name" id="name1" th:value="${el.getName()}"><br><br>

                    <label for="file1" >Картинка</label>
                    <input type="file" name="file" id="file1"><br><br>

                    <label for="desc1" >Описание товара</label>
                    <input type="text" name="description" id="desc1" th:value="${el.getDescription()}"><br><br>

                    <label for="price1" >Цена товара</label>
                    <input type="number" name="price" id="price1" th:value="${el.getPrice()}"><br><br>

                    <label for="category1">Категория</label>
                    <select name="category" id="category1">
                        <option value="Напитки" th:selected="${el.category == 'Напитки'}">Напитки</option>
                        <option value="Завтраки" th:selected="${el.category == 'Завтраки'}">Завтраки</option>
                        <option value="Супы" th:selected="${el.category == 'Супы'}">Супы</option>
                        <option value="Горячие блюда" th:selected="${el.category == 'Горячие блюда'}">Горячие блюда</option>
                        <option value="Салаты" th:selected="${el.category == 'Салаты'}">Салаты</option>
                        <option value="Десерты" th:selected="${el.category == 'Десерты'}">Десерты</option>
                    </select><br><br>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" value="Изменить товар">
                </form>
                <form th:action="@{/product/delete/{id}(id=${el.getId()})}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" value="Удалить товар">
                </form>
                <hr>
            </div>
        </div>
    </div>
    <h2>все пользователи</h2>
    <table>
        <tr>
            <th>Email</th>
            <th>Номер телефона</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Админ</th>
            <th>Редактирование</th>
            <th>Удаление</th>
        </tr>
        <tr th:each="el: ${users}">
            <th th:text="${el.getEmail()}"></th>
            <th th:text="${el.getPhoneNumber()}"></th>
            <th th:text="${el.getName()}"></th>
            <th th:text="${el.getSurName()}"></th>
            <th th:text="${el.isAdmin()}"></th>
            <th>
                <form th:action="@{/admin/make/{id}/{password}(id=${el.getId()}, password=${pass})}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" value="Изменить админа"/>
                </form>
            </th>
            <th>
                <form th:action="@{/admin/delete/{id}(id=${el.getId()})}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" value="Удалить"/>
                </form>
            </th>
        </tr>
    </table>
</body>
</html>