<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ресторан</title>
</head>
<body>
    <h1>Ресторан высшего уровня</h1>
    <hr>
    <a th:href="@{/login}" th:text="Войти"/>
    <form th:action="@{/logout}" th:method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="submit" value="Выйти"/>
    </form>
    <h2>Наше меню</h2>
    <div>
        <form action="/" method="get">
            <label for="category">Категория</label>
            <select name="category" id="category">
                <option value="Все" selected>Все блюда</option>
                <option value="Напитки">Напитки</option>
                <option value="Завтраки">Завтраки</option>
                <option value="Супы">Супы</option>
                <option value="Горячие блюда">Горячие блюда</option>
                <option value="Салаты">Салаты</option>
                <option value="Десерты">Десерты</option>
                <input type="submit" value="выбрать">
            </select><br>
        </form>
        <div th:if="${products.empty}">
            <p>Блюд нет</p>
        </div>
        <div th:each="el: ${products}" >
            <div>
                <th:block th:if="${el.getImage() != null}">
                    <img th:src="@{/images/{id}(id=${el.getImage().getId()})}"  alt="здесь картинка" height="200px" width="200px"/>
                </th:block>
                <p><b th:text="${el.getName()}"></b></p>
                <p th:text="${el.getPrice()} + ' руб'"></p>
                <p th:text="${el.getDescription()}"></p>
            </div>
        </div>
    </div>
</body>
</html>