<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .content {
            width: 400px;
            margin: 0 auto;
        }
        .content_form {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center">Регистрация</h1><hr>
    <div class="content">
        <form class="content_form" action="/registration" method="post">
            Имя пользователя: <input type="text" name="name" required><br>
            Фамилия пользователя: <input type="text" name="surName" required><br>
            Эл. почта: <input type="email" name="email" required><br>
            Номер телефона: <input type="tel" name="phoneNumber" required><br>
            Пароль: <input type="password" name="password" required><br>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <input type="submit" value="Зарегистрироваться"/>
        </form>
        <div th:if="${errorMess}" th:text="${errorMess}" style="color: red;"></div>
    </div>
</body>
</html>