<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <style>
        .content {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="top">
        <img src="/pictures/logo.png" width="80px" height="80px">
        <h1 style="text-align: center">Профиль</h1><hr>
    </div>
    <div class="content">
        <form class="content_form" action="/registration" method="post">
            <label for="name">Имя пользователя:</label>
            <input type="text" name="name" id="name" required><br>
            <label for="surName">Фамилия пользователя:</label>
            <input type="text" name="surName" id="surName" required><br>
            <label for="email">Эл. почта:</label>
            <input type="email" name="email" id="email" required><br>
            <label for="phoneNumber">Номер телнфона:</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" required><br>
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password" required><br>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <input type="submit" value="Зарегистрироваться"/>
        </form>
        <div th:if="${errorMess}" th:text="${errorMess}" style="color: red;"></div>
    </div>
</body>
</html>