<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Забронировать стол</title>
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/reserv.css">
</head>
<body>
    <div class="top">
        <img src="/pictures/logo.png" width="80px" height="80px">
        <h1 style="text-align: center">Выбор стола</h1><hr>
    </div>
    <div class="content">
        <form class="content_form" action="/reserve_stage2" method="get">
            <label for="tableId">Выбреите номер стола</label>
            <select name="tableId" id="tableId">
                <option value="1" selected>Стол 1</option>
                <option value="2">Стол 2</option>
                <option value="3">Стол 3</option>
                <option value="4">Стол 4</option>
                <option value="5">Стол 5</option>
                <option value="6">Стол 6</option>
                <option value="7">Стол 7</option>
                <option value="8">Стол 8</option>
                <option value="9">Стол 9</option>
                <option value="10">Стол 10</option>
            </select>
            <br>
            <input type="submit" value="Далее">
        </form>
    </div>
    <h2>Все столы ресторана</h2>
    <div class="img_div">
        <img src="/pictures/scheme.jpg" th:src="@{/pictures/scheme.jpg}" alt="схема ресторана" width="470">
    </div>
    <p class="p_style p_glav"><a class="a_style" th:href="@{/profile/{id}(id=${user.getId()})}">Назад</a></p>
</body>
</html>