<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Забронировать место</title>
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/reserv.css">
</head>
<body>
    <div class="top">
        <img src="/pictures/logo.png" width="80px" height="80px">
        <h1 style="text-align: center">Забронировать место</h1><hr>
    </div>
    <div class="content">
        <form class="content_form" th:action="@{/reserve}" method="post">
            <label for="tableId">Вы выбрали стол под номером</label>
            <input type="number" name="tableId" id="tableId" th:value="${tableId}" readonly><br>

            <label for="date">Выберите дату и время</label>
            <select name="date" id="date">
                <option th:each="el : ${freetime}" th:value="${el}" th:text="${el}"></option>
            </select><br>
            <input type="submit" value="Забронировать">
        </form>
        <p class="p_style p_glav"><a class="a_style" th:href="@{/reserve}">Назад</a></p>
    </div>
</body>
</html>